extends layout
block content
    h1  #{title}
    form(method='post',action='/articles/add')
      .form-group
        label Title
        input.form-control(type='text',name='title')
      .form-group
        label Author
        input.form-control(type='text',name='author')
      .form-group
        label Body
        textarea.form-control(type='text',name='body',rows='5')
      input.btn.btn-primary.btn-block(type='submit',value='Create Article')
