doctype html
html
  head
    title Knowledge Base
    link(rel='stylesheet',href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel='stylesheet',href='/css/style.css')
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      a.navbar-brand(href='#') Knowledgestack
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/')
              | Home 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#') KnowledgeBase
          li.nav-item
            a.nav-link(href='/add/articles', tabindex='-1', aria-disabled='true') Add Articles
          

    .container.mt-4
      !=messages('message',locals)
      block content
      br
      br
      hr
      footer
        p.text-center Copyright &copy; ace.inc 2020
    
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="/js/main.js")
    
