extends layout
block content
  div.row.justify-content-center
    div.col-md-8
      .card
        .card-header Register
        .card-body
          form(method="POST",action="/users/register")
            div.form-group.row
              label(class="col-md-4 col-form-label text-md-right") Name
              div.col-md-6
                input(type="text", name="name",class="form-control")
            div.form-group.row
              label.col-md-4.col-form-label.text-md-right Email
              div.col-md-6
                input(type="text", name="email",class="form-control")
            div.form-group.row
              label.col-md-4.col-form-label.text-md-right Username
              div.col-md-6
                input(type="text", name="username",class="form-control")
            div.form-group.row
              label.col-md-4.col-form-label.text-md-right Password
              div.col-md-6
                input(type="password", name="password",class="form-control")
            div.form-group.row
              label.col-md-4.col-form-label.text-md-right Confirm Password
              div.col-md-6
                input(type="password", name="password2",class="form-control")
            div(class="form-group row mb-0")
              div(class="col-md-6 offset-md-4")
                button(type="submit" class="btn btn-primary") Register
          
              
              
        
